 #h1-d{
        text-align: center;
        margin-top: 110px;
      }
table{
       position:relative;
       right:20px;
       margin:auto;
       color:black;
      }
span{
      font-size: 14px;
     }
#codespan{
    font-size:16px;
    font-weight:bold;
    font-family: "微软雅黑";
}
tr{
    height:40px;
    }
#showdiv{
    border:solid 1px dodgerblue;
    border-radius:20px;
    width:500px;
    height:240px;
    margin:auto;
    margin-top:60px;
    background-image: url(../img/tartb.jpg);
}
body{
    background-image: url(../img/denglu.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
#cd{
    position: relative;
    left:90px;
    color: black;
    }
    #cd:hover{
    	color:burlywood;
    }
#uname{
    height:25px;
    width:300px;
    border-radius:10px;
}
#code{
    height:22px;
    margin-left:3px;
    border-radius:10px;
}
input[type=submit]{
    position:relative;
    left:82px;
    width:80px;
    font-size:17px;
    font-family: "微软雅黑";
    font-weight: bold;
    background-color:cornsilk;
}
input[type=button]{
     position:relative;
     left:95px;
     width:80px;
     font-size:17px;
     font-family: "微软雅黑";
     font-weight: bold;
     background-color:cornsilk;
}
